body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.banniere {
    background-color: #4CAF50; 
    color: white; 
    text-align: center; 
    padding: 20px;
    position: fixed; 
    width: 100%; 
    top: 0; /
    z-index: 1000;
}

.contenu {
    margin-top: 80px; 
    padding: 20px;
}